
.DS_Store

*.xcuserstate

.DS_Store

project/.DS_Store

project/FatCamp.xcodeproj/project.xcworkspace/xcuserdata/seeskyline.xcuserdatad/UserInterfaceState.xcuserstate

project/FatCamp/.DS_Store

res_data/.DS_Store
