body{
		background-color:#ffffff;
		padding: 0px 0px 60px 0px;
}
	
#footer {
	color:RGB(255,0,0);
}

img{
    display:block;margin: 0 auto;
    max-width:300px;
}
		
.img_wrapper{
    text-align:center;
}